/* Reset some default styles */

/* Remove default margin and padding on all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply a baseline font size and remove text decoration */
body {
  font-size: 16px; /* Adjust as needed */
  text-decoration: none;
}

/* Normalize some styles for better cross-browser consistency */
html, body, div, h1, h2, h3, p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Optionally, you can include a CSS reset or normalize.css library here */


* {
  border: 1px dashed cyan;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
